
/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family:"Open Sans", sans-serif;
}

.section-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* header */
.nav-bar {
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
}

.nav-left {
    width: 50%;
    display: flex;
    align-items: center;
    
}

#logo {
    margin-left: 20px;
    margin-right: 25px;
    margin-top: 3px;
}

.nav-left ul {
    display: flex;
    justify-content: space-between;
    width: 41%;
    list-style: none;
}

.nav-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.nav-right ul {
    display: flex;
    justify-content: space-between;
    width: 61%;
    list-style: none;
}

.n {
    background-color: #0162FE;
    padding: 5px 8px;
    margin-right: 20px;
}






/* jumbotron */
.jumbotron {
    background-color: #b4cfe7;
    width: 100%;
    height: 580px;
    

}


.jumbotron-container {
    width: 70%;
    height: 580px;
    margin: 0 auto;
}

h1 {
    font-size: 55px;
    padding-top: 45px;
    padding-bottom: 30px;
}

.btn {
    background-color: #0162FE;
    border: none;
    color: white;
    padding: 9px 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fa-arrow-down {
    font-size: 40px;
    margin-top: 60px;

}

.jumbotron-bottom {
    display: flex;
    justify-content: center;
}

.sx-jumbotron {
    width: 30%;
    
}

.dx-jumbotron {
    width: 70%;
}

.dx-jumbotron img {
    height: 420px;
}


/* contenuto principale */


/*prima sezione*/

.first-grid .row {

    display: flex;
    flex-wrap: wrap;
    gap: 50px ;
}

.first-grid .col {
    width: calc((100% / 3) - 100px /3);

    /* debug*/
    background-color: red;
    height: 300px;
}

.col-bottom {
    width: 100%;
    /* debug*/
    background-color: red;
    height: 150px;

}


/*seconda sezione*/
.second-section {
    display: flex;
    justify-content: center;
}


.big-container {
    width: 60%;
    /* debug*/
    background-color: blueviolet;
    height: 150px;
}

.small-container {
    width: 40%;
    /* debug*/
    background-color: blueviolet;
    height: 150px;
}


/*terza sezione*/
.second-grid .row {

    display: flex;
    flex-wrap: wrap;
    gap: 50px ;
}

.second-grid .col {
    width: calc((100% / 3) - 100px /3);

    /* debug*/
    background-color: red;
    height: 300px;
}


/*FOOTER*/
.footer-container {
    background-color: black;
    padding-top: 50px;
    color: white;
    
}

.footer-top {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
}

.nav-block {
    
}

.footer-bottom {
    width: 70%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
}

.parte-language {
    height: 100px;
    width: 15%;
    border-top: 1px solid gray;
    line-height: 100px;
}

